<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg'%>
	<table class="table">
		<tbody>
			<tr>
				<td>name</td>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td>introduction</td>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>
	<p class="" >
		<%= link_to edit_user_path(current_user.id) do %>
		  <i class="fa fa-wrench btn btn-default" style="width:100%; margin-bottom: 20px;"></i>
		<% end %>
	</p>
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<p>Title</p>
	<p><%= f.text_field :title, :class=>"col-xs-12" %></p>
	<p>Opinion</p>
	<p><%= f.text_area :body, :class=>"col-xs-12", :style=>"margin-bottom: 20px;" %></p>
	<p><%= f.submit "Create Book", :class=>"btn btn-primary col-xs-12" %></p>
	<% end %>
</div>
