<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <div class="container">
      <div class="col-xs-3">
        <h2 class="site-title">Bookers</h2>
      </div>
        <ul class="nav navbar-nav navbar-right" style="width:400px">
          <% if user_signed_in? %>
            <li class="" style="padding:10px">
              <i class="fa fa-home"></i>
              <span><%= link_to 'Home', user_path(current_user.id) %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-user"></i>
              <span><%= link_to 'User', users_path %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-book"></i>
              <span><%= link_to 'Books', books_path %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-sign-out"></i>
              <span><%= link_to "logout", destroy_user_session_path, method: :delete %></span>
            </li>
          <% else %>
            <li class="" style="padding:10px">
              <i class="fa fa-home"></i>
              <span><%= link_to 'Home', home_about_path %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-chain"></i>
              <span><%= link_to "About", root_path %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-user-plus"></i>
              <span><%= link_to "sign up", new_user_registration_path %></span>
            </li>
            <li class="" style="padding:10px">
              <i class="fa fa-sign-in"></i>
              <span><%= link_to "login", new_user_session_path %></span>
            </li>
          <% end %>
        </ul>
    </div>
</div>
    <%= yield %>
    <div class="footer container">
      <div class="row pull-right">
        <span>CopyRight Infratop.inc</span>
      </div>
    </div>
  </body>
</html>
